# Name                    Version                   Build  Channel
aom                       3.9.1                h7bae524_0    conda-forge
brotli                    1.1.0                hd74edd7_2    conda-forge
brotli-bin                1.1.0                hd74edd7_2    conda-forge
brotli-python             1.1.0           py311h3f08180_2    conda-forge
bzip2                     1.0.8                h99b78c6_7    conda-forge
ca-certificates           2025.4.26            hbd8a1cb_0    conda-forge
certifi                   2025.4.26          pyhd8ed1ab_0    conda-forge
cffi                      1.17.1          py311h3a79f62_0    conda-forge
charset-normalizer        3.4.1              pyhd8ed1ab_0    conda-forge
contourpy                 1.3.2           py311h210dab8_0    conda-forge
cpython                   3.11.12         py311hd8ed1ab_0    conda-forge
cycler                    0.12.1             pyhd8ed1ab_1    conda-forge
dav1d                     1.2.1                hb547adb_0    conda-forge
filelock                  3.18.0             pyhd8ed1ab_0    conda-forge
fonttools                 4.57.0          py311h4921393_0    conda-forge
freetype                  2.13.3               h1d14073_0    conda-forge
fsspec                    2025.5.1           pyhd8ed1ab_0    conda-forge
giflib                    5.2.2                h93a5062_0    conda-forge
gmp                       6.3.0                h7bae524_2    conda-forge
gmpy2                     2.1.5           py311hb5d9ff4_3    conda-forge
h2                        4.2.0              pyhd8ed1ab_0    conda-forge
hpack                     4.1.0              pyhd8ed1ab_0    conda-forge
hyperframe                6.1.0              pyhd8ed1ab_0    conda-forge
idna                      3.10               pyhd8ed1ab_1    conda-forge
jinja2                    3.1.6              pyhd8ed1ab_0    conda-forge
joblib                    1.5.1              pyhd8ed1ab_0    conda-forge
kiwisolver                1.4.7           py311h2c37856_0    conda-forge
lcms2                     2.17                 h7eeda09_0    conda-forge
lerc                      4.0.0                hd64df32_1    conda-forge
libabseil                 20250127.1      cxx17_h07bc746_0    conda-forge
libavif16                 1.3.0                hf1e31eb_0    conda-forge
libblas                   3.9.0           19_osxarm64_openblas    conda-forge
libbrotlicommon           1.1.0                hd74edd7_2    conda-forge
libbrotlidec              1.1.0                hd74edd7_2    conda-forge
libbrotlienc              1.1.0                hd74edd7_2    conda-forge
libcblas                  3.9.0           19_osxarm64_openblas    conda-forge
libcxx                    20.1.3               ha82da77_0    conda-forge
libde265                  1.0.15               h2ffa867_0    conda-forge
libdeflate                1.23                 h5773f1b_0    conda-forge
libexpat                  2.7.0                h286801f_0    conda-forge
libffi                    3.4.6                h1da3d7d_1    conda-forge
libgfortran               14.2.0             heb5dd2a_105    conda-forge
libgfortran5              14.2.0             h2c44a93_105    conda-forge
libheif                   1.19.7          gpl_h79e6334_100    conda-forge
libjpeg-turbo             3.1.0                h5505292_0    conda-forge
liblapack                 3.9.0           19_osxarm64_openblas    conda-forge
liblzma                   5.8.1                h39f12f2_0    conda-forge
libopenblas               0.3.24          openmp_hd76b1f2_0    conda-forge
libpng                    1.6.47               h3783ad8_0    conda-forge
libprotobuf               5.29.3               hccd9074_1    conda-forge
libsqlite                 3.49.1               h3f77e49_2    conda-forge
libtiff                   4.7.0                h551f018_3    conda-forge
libtorch                  2.7.0           cpu_generic_h9a9d006_0    conda-forge
libuv                     1.51.0               h5505292_0    conda-forge
libwebp                   1.5.0                h1618228_0    conda-forge
libwebp-base              1.5.0                h2471fea_0    conda-forge
libxcb                    1.17.0               hdb1d25a_0    conda-forge
libzlib                   1.3.1                h8359307_2    conda-forge
llvm-openmp               20.1.6               hdb05f8b_0    conda-forge
markupsafe                3.0.2           py311h4921393_1    conda-forge
matplotlib                3.10.1          py311ha1ab1f8_0    conda-forge
matplotlib-base           3.10.1          py311h031da69_0    conda-forge
mpc                       1.3.1                h8f1351a_1    conda-forge
mpfr                      4.2.1                hb693164_3    conda-forge
mpmath                    1.3.0              pyhd8ed1ab_1    conda-forge
munkres                   1.1.4              pyh9f0ad1d_0    conda-forge
ncurses                   6.5                  h5e97a16_3    conda-forge
networkx                  3.4.2              pyh267e887_2    conda-forge
nomkl                     1.0                  h5ca1d4c_0    conda-forge
numpy                     2.2.5           py311h762c074_0    conda-forge
openjpeg                  2.5.3                h8a3d83b_0    conda-forge
openssl                   3.5.0                h81ee809_1    conda-forge
optree                    0.16.0          py311h210dab8_0    conda-forge
packaging                 25.0               pyh29332c3_1    conda-forge
pillow                    11.1.0          py311hb9ba9e9_0    conda-forge
pip                       25.0.1             pyh8b19718_0    conda-forge
pthread-stubs             0.4               hd74edd7_1002    conda-forge
pybind11                  2.13.6             pyhc790b64_3    conda-forge
pybind11-global           2.13.6             pyh217bc35_3    conda-forge
pycparser                 2.22               pyh29332c3_1    conda-forge
pyparsing                 3.2.3              pyhd8ed1ab_1    conda-forge
pysocks                   1.7.1              pyha55dd90_7    conda-forge
python                    3.11.12         hc22306f_0_cpython    conda-forge
python-dateutil           2.9.0.post0        pyhff2d567_1    conda-forge
python_abi                3.11                    7_cp311    conda-forge
pytorch                   2.7.0           cpu_generic_py311_hc7d8f6d_0    conda-forge
pyyaml                    6.0.2           py311h4921393_2    conda-forge
qhull                     2020.2               h420ef59_5    conda-forge
rav1e                     0.7.1                h0716509_3    conda-forge
readline                  8.2                  h1d1bf99_2    conda-forge
requests                  2.32.3             pyhd8ed1ab_1    conda-forge
scikit-learn              1.6.1           py311h47fa2fb_0    conda-forge
scipy                     1.15.2          py311h0675101_0    conda-forge
setuptools                75.8.2             pyhff2d567_0    conda-forge
six                       1.17.0             pyhd8ed1ab_0    conda-forge
sleef                     3.8                  h8391f65_0    conda-forge
svt-av1                   3.0.2                h8ab69cd_0    conda-forge
sympy                     1.13.3           pyh2585a3b_105    conda-forge
threadpoolctl             3.6.0              pyhecae5ae_0    conda-forge
tk                        8.6.13               h5083fa2_1    conda-forge
torchvision               0.22.0          cpu_py311_h971a39c_0    conda-forge
torchvision-extra-decoders 0.0.2           py311hb473835_3    conda-forge
tornado                   6.4.2           py311h917b07b_0    conda-forge
typing-extensions         4.13.2               h0e9735f_0    conda-forge
typing_extensions         4.13.2             pyh29332c3_0    conda-forge
tzdata                    2025b                h78e105d_0    conda-forge
unicodedata2              16.0.0          py311h917b07b_0    conda-forge
urllib3                   2.4.0              pyhd8ed1ab_0    conda-forge
wheel                     0.45.1             pyhd8ed1ab_1    conda-forge
x265                      3.5                  hbc6ce65_3    conda-forge
xorg-libxau               1.0.12               h5505292_0    conda-forge
xorg-libxdmcp             1.1.5                hd74edd7_0    conda-forge
yaml                      0.2.5                h3422bc3_2    conda-forge
zstandard                 0.23.0          py311h917b07b_1    conda-forge
zstd                      1.5.7                h6491c7d_2    conda-forge
